*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 66px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

nav {
  width: 100%;
  text-transform: uppercase;
  z-index: 1;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

nav a, nav i {
  color: #fff;
}

nav a:hover {
  color: #039dff;
}

nav .fa-bars {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
  font-size: 15px;
}

nav .active {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

header {
  color: #fff;
}

header h1 {
  text-transform: uppercase;
}

header p {
  color: #039dff;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/header640.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-img .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

header .hero-img .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  height: 100%;
  z-index: 1;
}

header .hero-img .hero-text a {
  z-index: 3;
}

header .hero-img .hero-text a button {
  margin-top: 30px;
  text-transform: uppercase;
}

header .hero-img .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 30px;
  color: #fff;
}

main h2 {
  text-align: center;
  text-transform: uppercase;
}

main .underline {
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #039dff;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .aboutus i {
  margin-top: 40px;
  font-size: 30px;
}

main .aboutus .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

main .aboutus .description {
  font-style: 14px;
}

main .aboutus .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

main .aboutus .aboutus-hover:hover {
  color: #039dff;
}

main .team-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}

main .team {
  position: relative;
  background-image: url("../img/conference-room1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

main .team h2 {
  padding-top: 15px;
  color: #ddd;
}

main .team .fab {
  color: #039dff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

main .team .fab:hover {
  color: #4959a5;
}

main .team .card-group {
  padding-bottom: 30px;
  z-index: 5;
}

main .team .card-group .card {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

main .team .card-group .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .team .card-group .card .card-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

main .team .card-group .card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (min-width: 400px) {
  nav .navbar-brand {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 40px;
  }
  header p {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 56px;
  }
}

@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/header1920.png");
  }
}
/*# sourceMappingURL=style.css.map */